/*Mobile First aproach*/

body{
  width: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
  width: 100%;
  min-height: 75px;
  background-color: #8caaf1;
}

.navbar_mobile ul{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;

 list-style: none;
 margin: 0;
 padding: 0;
 padding-top: 5px;
 width: 100%;
 height: auto;
}

.navbar_searchinput{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

 margin: 0;
 padding: 0;
 width: 100%;
 height: auto;
}

#bt_menu, #bt_profile, #bt_cart{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  padding: 5px;
}

.icon-hamburguer, .icon-profile, .icon-cart{
  width: 25px;
  height: auto;
}
.icon-logo{
  width: 30px;
  height: auto;
}

#search_bar{
  width: 90%;
  max-width: 400px;
  height: 35px;
  padding-left: 10px;
  margin: 10px;

  border: none;
  border-radius: 5px;
}

.home_page{
  margin: 0;
  padding: 0;
  background-color: #ffff;
}


.first-img, .img_1{
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.container{
  width: 100%;
  min-height: 110px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #404e6d;
  color: #ffff;
  font-weight: bold;
}

.mobile{
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#bt_comprar{
  width: 120px;
  height: 60px;

  border: none;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  background-color: rgb(231, 255, 127);
}

#bt_comprar:active{
  transform: scale(0.95);
  background-color: #d4f05d;
}

@media (min-width: 768px) {
  .navbar_mobile ul {
    justify-content: flex-end;
    gap: 30px;
    padding-right: 50px;
  }
  
  .first-img {
    height: 500px;
  }
}